<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>Alexa! Let's order food...</title>

    <!-- Favicon -->
    <link rel="icon" href="static/img/core-img/favicon.ico">

    <!-- Core Stylesheet -->
    <link href="static/css/style.css" rel="stylesheet">

    <!-- Responsive CSS -->
    <link href="static/css/responsive/responsive.css" rel="stylesheet">

</head>

<body>
    <!-- Preloader Start -->
    <div id="preloader">
        <div class="yummy-load"></div>
    </div>

    <!-- ****** Top Header Area Start ****** -->
    <div class="top_header_area">
        <div class="container">
            <br>
            <div class="row">
                <div class="col-8 col-sm-8">
                </div>
                <!--  Login Register Area -->
                <div class="col-4 col-sm-4">
                    <p>Welcome {{ user }}</p>
                </div>
            </div>
        </div>
    </div>
    <!-- ****** Top Header Area End ****** -->

    <!-- ****** Header Area Start ****** -->
    <header class="header_area">
        <div class="container">
            <div class="row">
                <!-- Logo Area Start -->
                <div class="col-12">
                    <div class="logo_area text-center">
                        <a href="/" class="yummy-logo">Alexa! Let's order food...</a>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <h2>What we think you'll <i class="fa fa-heart" aria-hidden="true" style="color:red;"></i></h2>
                </div>
            </div>
        </div>
    </header>
    <!-- ****** Header Area End ****** -->
<br><br>
    <!-- ****** Contents Area Start ****** -->
    <section class="welcome-post-sliders owl-carousel">

        {% for key, value in reco.items() %}
        <!-- Single Slide -->
        <div class="welcome-single-slide">
            <!-- Post Thumb -->
            <img src={{ value[3] }} alt="" width="150" height="280">
            <!-- Overlay Text -->
            <div class="project_title">
                <div class="post-date-commnents d-flex">
                    {{key}} &nbsp;&nbsp;&nbsp;
                <span id="stars{{key}}"></span><br>
                <script>
                    document.getElementById("stars{{key}}").innerHTML = getStars({{ value[0] }});

                    function getStars(rating) {

                      // Round to nearest half
                      rating = Math.round(rating * 2) / 2;
                      let output = [];

                      // Append all the filled whole stars
                      for (var i = rating; i >= 1; i--)
                        output.push('<i class="fa fa-star" aria-hidden="true" style="color: gold;"></i>&nbsp;');

                      // If there is a half a star, append it
                      if (i == .5) output.push('<i class="fa fa-star-half-o" aria-hidden="true" style="color: gold;"></i>&nbsp;');

                      // Fill the empty stars
                      for (let i = (5 - rating); i >= 1; i--)
                        output.push('<i class="fa fa-star-o" aria-hidden="true" style="color: gold;"></i>&nbsp;');

                      return output.join('');

                    }

                </script>
                </div>
                <a href="{{ url_for('item', item=key) }}">
                    <h7>{{ value[2] }}</h7>
                </a>
            </div>
        </div>
        {% endfor %}

    </section>

    <br><br><br><br>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>You recently reviewed...</h2>
            </div>
        </div>
    </div>

    <br><br><br>


        <section class="welcome-post-sliders owl-carousel">

            {% for key, value in hist.items() %}
            <!-- Single Slide -->
            <div class="welcome-single-slide">
                <!-- Post Thumb -->
                <img src={{ value[2] }} alt="" width="150" height="280">
                <!-- Overlay Text -->
                <div class="project_title">
                    <div class="post-date-commnents d-flex">
                    {{key}} &nbsp;&nbsp;&nbsp;
                    <span id="stars{{key}}1"></span><br>
                    <script>
                        document.getElementById("stars{{key}}1").innerHTML = getStars({{ value[0] }});

                        function getStars(rating) {

                          // Round to nearest half
                          rating = Math.round(rating * 2) / 2;
                          let output = [];

                          // Append all the filled whole stars
                          for (var i = rating; i >= 1; i--)
                            output.push('<i class="fa fa-star" aria-hidden="true" style="color: gold;"></i>&nbsp;');

                          // If there is a half a star, append it
                          if (i == .5) output.push('<i class="fa fa-star-half-o" aria-hidden="true" style="color: gold;"></i>&nbsp;');

                          // Fill the empty stars
                          for (let i = (5 - rating); i >= 1; i--)
                            output.push('<i class="fa fa-star-o" aria-hidden="true" style="color: gold;"></i>&nbsp;');

                          return output.join('');

                        }

                    </script>
                </div>
                    <a href="{{ url_for('item', item=key) }}">
                        <h7>{{ value[1] }}</h7>
                    </a>
                </div>
            </div>
            {% endfor %}

        </section>



     <!-- ****** Contents Area End ****** -->
<br><br>
    <!-- ****** Footer Menu Area Start ****** -->
    <footer class="footer_area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Copywrite Text -->
                    <div class="copy_right_text text-center">
                        <p>Rashmi Ojha  |  Srishti Agarwal  |  Mayank Sharma  |  Ronak Choudhary</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- ****** Footer Menu Area End ****** -->

    <!-- Jquery-2.2.4 js -->
    <script src="static/js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="static/js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap-4 js -->
    <script src="static/js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins JS -->
    <script src="static/js/others/plugins.js"></script>
    <!-- Active JS -->
    <script src="static/js/active.js"></script>
</body>
